<!-- sidebar start -->
<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
  <div class="am-offcanvas-bar admin-offcanvas-bar">
    <ul class="am-list admin-sidebar-list">
      <li><a href="/user/me"><span class="am-icon-file"></span> 个人资料 </a></li>
      <li><a href="/user/list"><span class="am-icon-file"></span> 员工列表 </a></li>
      <li><a href="/user/add"><span class="am-icon-file"></span> 新增员工 </a></li>
    </ul>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-tag"></span>自我评价</p>
        <p> 我很开心 </p>
      </div>
    </div>
  </div>
</div>
<!-- sidebar end -->
